/* Globala Variabler */

:root {
  --background-color: #fff8f0;
  --text-color: #333;
  --border-color: #000000;
  --navigation-color: rgb(0, 0, 0);
  --navigation-background-color: #cfb9a0;
  --navigation-hover-color: rgb(255, 255, 255);
  --header-color: #92400e;
  --recipe-card-background-color: rgb(255, 255, 255);
  --button-text-color: rgb(255, 255, 255);
  --button-background-color: #000000;
  --button-text-hover-color: rgb(0, 0, 0);
  --button-background-hover-color: #fff8f0;

  --review-link-background-color: #ffdeca;
  --review-link-text-color: #92400e;
}

.dark-theme {
  --background-color: #1a1a1a;
  --text-color: #fff;
  --border-color: #ffffff;
  --navigation-color: rgb(255, 255, 255);
  --navigation-background-color: #38322c;
  --navigation-hover-color: rgb(0, 0, 0);
  --header-color: #ffdeca;
  --recipe-card-background-color: rgba(255, 255, 255, 0.103);
  --button-text-color: rgb(255, 255, 255);
  --button-background-color: #000000;
  --button-text-hover-color: rgb(0, 0, 0);
  --button-background-hover-color: #fff8f0;
  --review-link-background-color: #38322c;
  --review-link-text-color: rgb(255, 255, 255);
}
/* RESET*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background: var(--background-color);
  color: var(--text-color);
}

/* End of RESET*/

.container {
  padding-inline: 1rem;
  background: var(--background-color);
}

#theme {
  padding: 0.4rem;
  border-radius: 4px;
}

.hero-header {
  text-align: center;
  color: var(--text-color);
  padding: 3rem 2rem;

  h1 {
    color: var(--header-color);
    font-size: clamp(2rem, 5vw, 4rem);
    margin-bottom: 1rem;
    font-family: "Permanent Marker", cursive;
  }
  p {
    font-size: clamp(0.75rem, 2vw, 1.25rem);
    margin: 0.5rem auto;
    line-height: 1.6;
    font-family: "Fredoka", sans-serif;
  }
}

.hero {
  overflow: hidden;
  height: clamp(250px, 40vw, 500px);
  img {
    width: 100%;
    object-fit: cover;
  }
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between; /* In the flexed axes.  space-between: pushes the first item to the far left and the last item to the far right */
  align-items: center; /* In the cross-flexed axes */
  padding: 1rem 2rem; /* Top and bottom get 1rem, left and right get 2rem */
  background: var(--navigation-background-color);
  border-bottom: 1px solid var(--border-color);

  a {
    color: var(--navigation-color);

    &:hover {
      color: var(--navigation-hover-color);
    }
  }
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;

  img {
    width: 100px;
    height: 100px;
  }
}

.nav-links {
  display: flex;
  gap: clamp(
    1rem,
    5vw,
    5rem
  ); /* Min 1rem, Max 5rem -> Otherwise adjustable to the screen  */
  list-style: none;

  a {
    text-decoration: none;
    color: var(--navigation-color);
    font-weight: bold;
  }
}

.login-btn {
  padding: 0.5rem 1rem;
  border: none;
  background: var(--button-background-color);
  color: var(--button-text-color);
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    color: var(--button-text-hover-color);
    background: var(--button-background-hover-color);
  }
}

/* CSS för korten */
.recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 1.5rem;
  justify-content: center; /* In the flexed axes -> how the entire grid is positioned horizontally */
  margin-top: 2rem;
}

/* CSS for recipe-card */
.recipe-card {
  background: var(--recipe-card-background-color);
  border-radius: 8px;
  overflow: hidden; /* Hide anything that extends outside the element. No excess space in recipe-card. */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* shadow around an element */
  padding: clamp(10px, 2vw, 20px); /* Make padding responsive */

  transition:
  /* Animate size. Whenever transform changes then animate over 0.3 seconds */
    transform 0.2s ease,
    /* Animate shadow around an element. */ box-shadow 0.2s ease;

  .image-container {
    aspect-ratio: 1 / 1;
    overflow: hidden;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Fill the box completely and crop excess parts */

    /* Make the zoom come from the center */
    transform-origin: center center;

    /* increases zoom as the viewport gets narrower */
    transform: scale(clamp(1, calc(1000px / 100vw), 2));
  }

  h2 {
    /* Recipe title */
    color: var(--header-color);
    font-size: clamp(16px, 2.5vw, 24px);
    margin: clamp(12px, 1.5vw, 18px);
    text-align: center;
  }
  h3 {
    /* 'Ingredienser' title */
    /* 'Så här gör du' title */
    font-size: clamp(12px, 1.5vw, 16px);
  }

  ul li,
  ol li {
    /* Content of 'Ingredienser' and 'Så här gör du' */
    font-size: clamp(11px, 1.5vw, 14px);
  }

  ul,
  ol {
    padding-left: 20px;
  }

  /* Review styles */

  .review-link-container {
    margin-top: 1rem;
  }

  .review-link {
    margin-top: auto;
    display: flex;
    justify-content: center;

    padding: 0.75rem;
    border-radius: 6px;
    text-decoration: none; /* no underline on the link */
    font-weight: bold;

    background: var(--review-link-background-color);
    color: var(--review-link-text-color);
  }

  .review-link:hover {
    transform: translateY(-2px);
  }
  /* End of Review styles */
}
/* End of CSS for recipe-card */

.content {
  padding: 16px;
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.image-wrapper {
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}
